.login-page{
    width: 350px; 
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_login {
    background: linear-gradient(135deg, #6a1b9a, #a751dc);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.login-box {
    width: 100%;
    max-width: 400px;
    }

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
}

.card-header a {
    font-weight: 700;
    font-size: 1.8rem;
    color: #6a1b9a;
    text-decoration: none;
}

.login-box-msg {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 8px;
}

.input-group-text {
    background-color: #f1f1f1;
    border-radius: 8px 0 0 8px;
}

.btn-primary {
    background-color: #411b59;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #411b59;
}

.icheck-primary label {
    font-size: 0.9rem;
    color: #555;
}

.alert {
    border-radius: 8px;
}

.footer-text {
    margin-top: 1rem;
    text-align: center;
    color: #666;
    font-size: 0.85rem;
}